DB_HOST = 
DB_PORT = 
DB_NAME = 
DB_USER = 
DB_PSWD = 
AIRFLOW_DIR = /opt/airflow
INGESTION_DATA_DIR = /amazon-data
AIRFLOW_FERNET_KEY = 
AIRFLOW_SECRET_KEY = 
AIRFLOW_ADMIN_PASSWORD = 
MLFLOW_DIR = /opt/mlflow/artifacts
MLFLOW_URI = 
HF_API_TOKEN = 
API_HOST = 
api_port = 
GRAFANA_USER = 
GRAFANA_PASSWORD = 